/* Works on Firefox */
* {
  scrollbar-width: none;
  &::-webkit-scrollbar {
    width: 0;
  }
  &:hover {
    scrollbar-width: thin;
    scrollbar-color: #c1c1c1 #f2f2f2;

    /* Works on Chrome, Edge, and Safari */
    *::-webkit-scrollbar {
      width: 12px;
    }

    *::-webkit-scrollbar-track {
      background: #f2f2f2;
    }

    *::-webkit-scrollbar-thumb {
      background-color: #c1c1c1;
      border-radius: 20px;
      border: 3px solid #f2f2f2;
    }
  }
}


.row, .column {
  display: flex;
  flex-wrap: wrap;
}

.d {
  &-flex {
    display: flex;
  }
}

.justify-start {
  justify-content: flex-start;
}

.items-center {
  align-items: center;
}

.text {
  &-primary {
    color: #01D167;
  }

  &-muted {
    color: #fff;
    opacity: 0.3;
  }

  &-left {
    text-align: left;
  }

  &-white {
    color: #fff;
  }
  &-size {
    &-small {
      font-size: 0.9rem;;
    }
  }
}

.bg {
  &-primary {
    background-color: #01D167;
  }
}

.bold {
  font-weight: 400;
}

.bolder {
  font-weight: 500;
}

.boldest {
  font-weight: 600;
}

.font {
  &-smallest {
    font-size: 0.7rem;
  }
  &-smaller {
    font-size: 0.8rem;
  }
  &-small {
    font-size: 0.9rem;
  }
  &-normal {
    font-size: 1rem;
  }

  &-family {
    &-opensans {
      &-regular {
        font-family: OpenSans-Regular, sans-serif;
        font-weight: 400;
      }
      &-semibold {
        font-family: OpenSans-SemiBold, sans-serif;
        font-weight: 600;
      }
      &-bold {
        font-family: OpenSans-Bold, sans-serif;
        font-weight: 700;
      }
    }
  }
}

.font-medium {
  font-size: 1.5rem;
}

.font-large {
  font-size: 1.8rem;
}

.font-larger {
  font-size: 2rem;
}

.font-largest {
  font-size: 3rem;
}

.font-15 {
  font-size: 15px;
}

.cursor-pointer {
  cursor: pointer;
}

.bg-dark {
  background: #0C365A;
}